::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.confirmation {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
    width: 250px;
    height: 70px;
    position: absolute;
    top: 210px;
    opacity: 1;
    background-color: white;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}