:root {
  --animate-duration: 200ms;
  --animation-delay: 0.9s;
}




.disable {
  pointer-events: none;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--secondary);
  margin-top: -13px;
}

.chat-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary);
  margin-top: -13px;
  box-shadow: 0 5px 5px 0 rgba(102, 84, 84, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

.confirmation {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
  width: 250px;
  height: 70px;
  position: absolute;
  top: 210px;
  opacity: 1;
  background-color: white;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(102, 84, 84, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.chat-div {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  overflow: fixed;
  width: 220px;
  height: 300px;
  position: absolute;
  padding: 5px;
  left: 10px;
  background-color: white;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.message-div {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: none;
  word-break: break-all;
  align-items: center;
  height: 300px;
}

.chat-msg {
  display: flex;
  color: black;
  font-size: 13px;
}

.messge-input-div {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  padding: 5px 10px;
}

#chat-input {
  border: none;
  outline: none;
}

.chat-bubble-me {
  display: flex;
  padding: 8px;
  width: 150px;
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-left: 15px;
  margin-top: 5px;
}

.chat-bubble-his {
  display: flex;
  padding: 8px;
  width: 150px;
  border: 1px solid #edf2ef;
  border-color: 1px solid;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-right: 15px;
  margin-top: 5px;
}

.game-container {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 0.5px solid lightblue;
  padding: 20px;
  width: 300px;
  border-radius: 5px;
}

#game-page {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px solid #f7f6f2;

  margin-top: 10px;
  width: 285px;
  border-radius: 2px;
  grid-template-columns: repeat(3, auto);
  padding: 20px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid var(--primary);
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.x:before,
.x:after {
  content: " ";
  height: 35px;
  width: 2px;
  background-color: var(--secondary);
}

.x:before {
  transform: rotate(45deg);
}

.x:after {
  transform: rotate(-45deg);
}

.circle::after {
  content: "";
  height: 33px;
  width: 33px;
  border-radius: 50%;
  border: 2px solid var(--primary);
}