:root {
  --primary: #0d568f;
  --secondary: #d62255;
}

@font-face {
  font-family: barlow;
  src: url("../font/Barlow-Light.ttf");
}

@font-face {
  font-family: titllium;
  src: url("../font/TitilliumWeb-Light.ttf");
}

html {
  height: 100%;
  overflow: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f7f6;
  margin: 20px;
  height: auto;
}

.primary-btn {
  width: 130px;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  background-color: var(--primary);
  outline: none;
  font-weight: bold;
  font-family: "titllium";
  padding: 8px 20px;
}

.secondary-btn {
  width: 130px;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  background-color: var(--secondary);
  outline: none;
  font-weight: bold;
  font-family: "titllium";
  padding: 8px 20px;
}

.input {
  border: none;
  font-size: 17px;
  color: var(--secondary);
  font-family: "barlow";
  font-weight: 200;
  outline: none;
}

.input-div {
  border-bottom: 2px solid var(--primary);
  padding: 7px;
}

#user {
  width: 70px;
  height: 70px;
}

.container {
  opacity: .5;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 330px;
  background-color: white;
  border-radius: 5px;
  height: 500px;
  position: relative;
  z-index: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.header {
  display: flex;
  justify-content: space-between;
  color: var(--primary);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#starter-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
}



.welcome-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#starter-page form {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

#logo {
  width: 60px;
  height: 60px;
}

#logout {
  width: 50px;
  height: 50px;
}

.footer {
  align-self: center;
  color: var(--primary);
  font-size: 17px;
  font-family: "barlow";
}

.content {
  display: flex;
  flex-direction: column;
}